html{
   background-color:#ea5353;
}
}
body{
   font-family:Arial,sans-serif;
}
body {
   font-family: Arial,sans-serif;
   background-color:#ce4bce;
   max-width:960px;
   width:90%;
   margin: auto;
   padding:1%;
}
body {
   font-family: Arial,sans-serif;
   background-color:#f019e9;
   max-width:960px;
   width:90%;
  
footer {
   clear: both;
   text-align: center;
}

  